/*Make It Count - Contest_Name(15MM_POAL) - V1.3 - Mobile Pkg by VAD*/

/* https://fonts.google.com/share?selection.family=Archivo+Black|Nunito:ital,wght@0,400;0,600;0,700;1,700|Poppins:wght@400;700;900|Roboto:ital,wght@0,400;0,500;0,700;1,500 */

:root{
	--primary-color: rgba(0, 0, 0, 1);
	--pureWht-color: rgba(255, 255, 255,1);
	--AltWhite-color: rgba(240, 241, 247,1);
	--canaryYellow-color: rgba(255, 249, 142,1);
	--red-color: rgba(251, 2, 25,1);
	--offWhite-color: rgba(240, 241, 247, 0.95);
	--normalBlue-color: rgba(40, 84, 113,1);
	--yellow-color: rgb(255, 246, 0,1);
	--ltBlue-color: rgba(6, 116, 148,1);
	--dkBlue-color: rgba(40, 84, 113,1);
	--teal-color: rgb(7, 78, 98);
	--ltTan-color: rgb(243, 226, 209);
	--default-font: Arial, Helvetica, sans-serif;
	--Archivo-font: 'Archivo Black', sans-serif;
	--Poppins-font: 'Poppins', sans-serif;
	--Roboto-font: 'Roboto', sans-serif;
	--Nunito-font: 'Nunito', sans-serif;
	--strikeThrough-color: var(--red-color);
	--text-stroke-Color-Mob: rgb(7, 78, 98);
	--strikeThrough-Thickness-Mob: 6px;
}

/******Package Specific Style Start******/
#contestWrap{ overflow: hidden;}

#mobileBody p{ padding: 10px 0;}

#deviceWrap1{ display: none; }
/******Package Specific Style Start******/

/* Contest section */


#package-wrap{
	min-width: 320px;
	background-color: var(--AltWhite-color);

	& #package-contestWrap{
		/* display: none; */

		#arrowLeft, #arrowRight, #HowieImg, #DanielleImg, #VanImg{
			display: none;
		}
		
		#package-contestInner{
			width: 320px;

			& #package-contestCopy{
				background-color: var(--offWhite-color);
				overflow: hidden;

				& h6{
					font-size: 26px;
					line-height: 30px;
				}
				& h6:first-of-type{
					padding-top: 6px;
				}
				& h6:last-of-type{
					font-size: 31px;
					line-height: 34px;
				}

				& p{
					font-size: 20px;
					line-height: 26px;
				}
				
				& .MIC_Special_Box{
					width: 300px;	
				}			
				& .MIC_Special_Box h5{	
					font-size: 32px;
					line-height: 34px;
				}
				& .MIC_Special_Box h5 span.pkgPrizeAmt{ 	
					font-size: 36px;
					line-height: 36px;
				}
				& .MIC_Special_Box h5 span.pkgPrizeDesc{
					font-size: 40px;
					line-height: 40px;
				}
				& .MIC_Special_Box:nth-last-child(2) h5{
					padding: 10px 0;
				}
			}
		}
		
		#package-contestInner #MIC_Button{
			width: 253px;
			height: 49px;
			margin: 10px auto 0px;
			font-size: 33px;
			line-height: 49px;
		}
		
		
		#package-contestFtr p{
			padding-bottom: 10px;
		}

		#package-contestFtr p:last-child{
			font-size: 16px;
			line-height: 24px;
			padding-top: 10px;
		}
		
		#package-contestFtr h6{
			width: 300px;
			display: inline;
			font-size: 42px;
			line-height: 43px;
			background-image: linear-gradient(90deg, var(--yellow-color), var(--yellow-color));
			background-size: 0 65%;
			background-repeat: no-repeat;
			background-position: left 10px;
		}
	}
}
/* Contest section */

/* OB/Product Section styles */


#package-order_section{
	display: none;

	#package-ob_section{
		width: 320px;

		.ob_dir_Msg{
			& .balance{
				display: none;
	
				.ob_Hdr{
					border-radius: 0;
					padding: 10px;

					& h6{
						font-family: var(--Nunito-font);
						font-weight: 700;
						position: relative;
						left: -20px;
						text-transform: capitalize;
						/* width: 648px;
						line-height: 138px; */
						font-size: 43px;
						line-height: 50px;
						margin: 0 auto;
						/* overflow: hidden; */
						transform: rotate(-4deg);
						text-shadow: 2px 2px 0 #074e62, -2px 2px 0 #074e62, 2px -2px 0 #074e62, -2px -2px 0 #074e62, 0px 2px 0 #074e62, 0px -2px 0 #074e62, -2px 0px 0 #074e62, 2px 0px 0 #074e62, 4px 4px 0 #074e62, -4px 4px 0 #074e62, 4px -4px 0 #074e62, -4px -4px 0 #074e62, 0px 4px 0 #074e62, 0px -4px 0 #074e62, -4px 0px 0 #074e62, 4px 0px 0 #074e62, 2px 4px 0 #074e62, -2px 4px 0 #074e62, 2px -4px 0 #074e62, -2px -4px 0 #074e62, 4px 2px 0 #074e62, -4px 2px 0 #074e62, 4px -2px 0 #074e62, -4px -4px 0 #074e62;
						
						& span{
							position: relative;
							left: 17px;
						}
						& span:first-of-type{
							left: 60px;
						}
						& span:last-of-type{
							font-family: var(--Archivo-font);
							display: block;
							font-size: 121px;
							line-height: 121px;
							font-weight: 700;
							/* font-style: italic; */
							text-transform: uppercase;
							text-align: center;
							top: -10px;
							transform: rotate(4deg);
						}
					}
			
					& p{
						margin: 0;
						margin: -15px 10px 0;
					}
				} 
	
				& .ob_Main{
					width: 320px;
					margin: 0;
					padding: 0px 0px 20px;
					border-radius: 0;
					box-shadow: none;

					.bottomArrow{
						width: 320px;
						height: 25px;
						background-color: var(--teal-color);
						margin: 0;
						clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
						margin-bottom: 15px;
					}

					ul li{
						font-family: var(--Nunito-font);
						font-size: 25px;
						line-height: 40px;
						border-radius: 0px;
						text-align: center;
						padding: 0px;

						& p{
							display: block;				
							font-weight: 700;
							font-style: italic;
							text-transform: uppercase;
							font-size: 36px;
							line-height: 30px;
							height: 100%;
							/* position: relative;
							top: 0;
							left: -10px; */
							padding: 5px 0;
							/* margin-right: 10px; */
						}
						& p:first-child{
							background-color: var(--teal-color);
						}
						/* & span::after{
							position: absolute;
							content: "";
							width: 50px;
							height: 100%;
							top: 0;
							right: -50px;
							background-color: var(--teal-color);
							clip-path: polygon(0 0, 0% 100%, 55% 0);
						} */

						span{ text-transform: none; }
					}
					ul li:first-child p:last-child{font-size: 25px;}
					ul li:nth-child(2) p:last-child{font-size: 25px;}
					ul li:last-child p:last-child{font-size: 21px;}
	
					p.obFooterCpy{ 
						color: var(--teal-color);
						font-size: 22px;
						line-height: 30px;
						padding: 0 20px 10px; 
					}
				}
				
			} 
		} 
	}
}
/* OB/Product Section styles */

/******Default Package Style Start******/
body{	
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #000;
	font-size: 100%;
}

.disclaimer {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.6875em;
	max-width: 320px;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
}

.disclaimer p, .disclaimer a{
	color: #000;
}

.disclaimer p {
	margin-bottom: 14px;
}

.isUppercase {
	text-transform: uppercase;
}
/******Default Package Style End******/

/*****Merch Ineligible button.. place over package button (Absoulute positioning)*****/
/*Refer to merch INELLIGABLE inelligable doc: http://creativedept.classic.pchad.com/Libraries/Packages/Spectrum/_docs/MERCH%20INELLIGABLE.TXT*/
.contestOnlySubmitButton{
	width: 251px;
	height: 74px;
	border: 0;
	text-indent: -999px;
	overflow: hidden;
	font-size: 0;
	background: none;
	cursor: pointer;
	display: none;
	position: absolute;
	top: 0;
	z-index: 10;
}