/*Win_1MM_Tonight_V14 - Contest_Name(1MM) - V1.0 - Pkg Desktop CSS by VAD - 06/2022*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  color: #333;
  background-color: #2caa8e;
}

/*****Package Style Start*******/
#package-contest_section {
  width: 100vw;
  height: 100vh;
  display: none;
  overflow-x: hidden;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#db285f+0,db285f+50,221a83+50,221a83+50,221a83+50,221a83+100 */
  background: #db285f; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #db285f 0%, #db285f 50%, #221a83 50%, #221a83 50%, #221a83 50%, #221a83 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#db285f", endColorstr="#221a83",GradientType=1 ); /* IE6-9 */
  /*Block*/
  /*Modifier*/
}
#package-contest_section .stage {
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 21px;
}
#package-contest_section .stage--big {
  width: 811px;
  height: 680px;
  position: relative;
}
#package-contest_section .stage__clock {
  width: 100%;
  height: 170px;
  color: #fff;
  background-color: #1a086a;
  border: 3px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
}
#package-contest_section .stage__clock h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  padding: 10px 0;
  font-style: italic;
  text-align: center;
}
#package-contest_section .stage__clock .stage__clock__inner {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  opacity: 0;
}
#package-contest_section .stage__clock .stage__clock__inner li:nth-child(even) {
  width: 30px;
  margin-top: 20px;
}
#package-contest_section .stage__clock .stage__clock__inner li {
  width: 145px;
  position: relative;
  text-align: center;
}
#package-contest_section .stage__clock .stage__clock__inner li .stage__clock__hdr {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
#package-contest_section .stage__clock .stage__clock__inner li .stage__clock__hdr {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
#package-contest_section .stage__clock .stage__clock__inner li .stage__clock__num {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 110px;
  line-height: 141px;
}
#package-contest_section .stage__clock .stage__clock__inner li .stage__clock__seperator {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  height: 100%;
  font-size: 100px;
  line-height: 100px;
}
#package-contest_section .stage__main {
  text-align: center;
}
#package-contest_section .stage__main p {
  font-size: 18px;
  line-height: 25px;
  color: #161616;
  margin-top: 15px;
}
#package-contest_section .stage__main .stage__main__hdr {
  width: 710px;
  margin: 13px auto 20px;
  border: 3px solid rgb(219, 40, 95);
  color: rgb(219, 40, 95);
  padding: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 37px;
  line-height: 37px;
  transform: rotate(1deg);
  -webkit-mask-image: url("../images/W1MMT_grunge.png");
  -webkit-mask-size: 944px 604px;
  mask-image: url("../images/W1MMT_grunge.png");
  mask-size: 944px 604px;
  mix-blend-mode: multiply;
}
#package-contest_section .stage__main .stage__main__contestAmt, #package-contest_section .stage__main .stage__main__contestAward {
  color: rgb(219, 40, 95);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 37px;
  line-height: 37px;
  text-transform: uppercase;
}
#package-contest_section .stage__main .stage__main__contestAmt {
  font-size: 64px;
  line-height: 64px;
}
#package-contest_section .stage__main .stage__main__handwriting {
  margin-top: 20px;
  display: inline-block;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  color: #1a086a;
  font-size: 33px;
  line-height: 39px;
  position: relative;
}
#package-contest_section .stage__main .stage__main__handwriting h6 {
  position: relative;
  margin: 0 50px;
  z-index: 55;
}
#package-contest_section .stage__main .stage__main__handwriting h6 span {
  text-decoration: none;
  background-image: linear-gradient(to left, rgba(134, 219, 119, 0) 50%, yellow 50%);
  background-position: 101% 10px;
  background-size: 200% 35px;
  background-repeat: no-repeat;
  transition: background-position 0.3s;
}
#package-contest_section .stage__main .stage__main__underlines {
  width: 655px;
  height: 15px;
  margin: 0 auto;
  transform: translateY(10px);
}
#package-contest_section .stage__main .stage__main__underlines .underlines {
  display: block;
  width: 655px;
  height: 15px;
  background-image: url("../images/W1MMT_Underlines.png");
}
#package-contest_section .stage__main .stage__main__BtnSec .stage__main__Btn {
  display: block;
  width: 308px;
  height: 70px;
  text-align: center;
  cursor: pointer;
  margin: 15px auto 10px;
  border: 1px solid rgb(219, 40, 95);
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 37px;
  line-height: 70px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px 0px;
  background: rgb(219, 40, 95) none repeat scroll 0% 0%;
  position: relative;
  z-index: 88;
}
#package-contest_section .stage__main .stage__main__BtnSec .stage__main__ftrCpy {
  text-align: center;
}

#package-order_section {
  display: none;
  background-color: #2caa8e;
}
#package-order_section #package-ob_section {
  min-width: 1230px;
  margin: 0 auto;
}
#package-order_section #package-ob_section #OB_DirMsg {
  text-align: center;
}
#package-order_section #package-ob_section #OB_DirMsg .balance {
  display: none;
}
#package-order_section #package-ob_section #OB_DirMsg .ob__stage1 {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-size: 125px;
  line-height: 125px;
  padding-top: 50px;
}
#package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__top h6 {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-size: 57px;
  line-height: 63px;
  color: #fff;
  padding-top: 20px;
}
#package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__top h6 u {
  display: inline-block;
}
#package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__top h6 .ob__underline {
  position: relative;
  color: #fff194;
  font-style: italic;
}
#package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__top h6 .ob__underline::after {
  content: "";
  position: absolute;
  left: -14px;
  bottom: -11px;
  width: 382px;
  height: 25px;
  background: transparent url("../images/W1MMT_OBUnderlines.png") 0 0 no-repeat;
}
#package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid {
  height: 218px;
  background-color: #fff194;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  overflow: hidden;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.77);
  margin: 40px 0px 20px;
}
#package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper {
  width: 750px;
  margin: 5px auto 0px;
  text-align: left;
  position: relative;
}
#package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper .ob__stage2__mid__seal {
  background: transparent url("../images/W1MMT_Seal.png") center center no-repeat;
  width: 166px;
  height: 218px;
  display: block;
  position: absolute;
  top: -5px;
  overflow: hidden;
  text-indent: -1000px;
}
#package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper .Current ul {
  width: 720px;
  margin: 0 auto;
  position: relative;
  top: 10px;
  left: 170px;
}
#package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper .Current ul li {
  color: #2caa8e;
  list-style: disc;
  list-style-position: inside;
  font-size: 33px;
  line-height: 53px;
  margin: 0px auto 10px;
}
#package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__ftr h6 {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #fff;
  padding-bottom: 20px;
}

#package-pkg_section {
  min-width: 1230px;
  margin: 0 auto;
}

/*****Package Style End*********/
#package-pkg_section {
  display: none;
}

.disclaimer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  width: 750px;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.disclaimer p, .disclaimer a {
  color: #fff;
}

.disclaimer p {
  margin-bottom: 14px;
}

.disclaimer strong {
  /*for NPN*/
  font-size: 12px;
}

.slide-in-elliptic-top-fwd {
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-9 15:38:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
/* Mobile styles */
@media (width <= 600px) {
  #package-contest_section .stage--big {
    width: 375px;
    height: 680px;
  }
  #package-contest_section {
    min-width: 320px;
  }
  #package-contest_section .stage__clock {
    width: 100%;
    height: 110px;
    color: #fff;
    background-color: #1a086a;
    border: 3px solid #fff;
    box-sizing: border-box;
    overflow: hidden;
  }
  #package-contest_section .stage__clock h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    padding: 5px 0 10px;
    font-style: italic;
    text-align: center;
  }
  #package-contest_section .stage__clock .stage__clock__inner {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    opacity: 0;
  }
  #package-contest_section .stage__clock .stage__clock__inner li:nth-child(even) {
    width: 15px;
    margin-top: 20px;
  }
  #package-contest_section .stage__clock .stage__clock__inner li {
    width: 145px;
    position: relative;
    text-align: center;
  }
  #package-contest_section .stage__clock .stage__clock__inner li .stage__clock__hdr {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  #package-contest_section .stage__clock .stage__clock__inner li .stage__clock__hdr {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
  }
  #package-contest_section .stage__clock .stage__clock__inner li .stage__clock__num {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 81px;
  }
  #package-contest_section .stage__clock .stage__clock__inner li .stage__clock__seperator {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    height: 100%;
    font-size: 60px;
    line-height: 40px;
  }
  #package-contest_section .stage__main {
    text-align: center;
  }
  #package-contest_section .stage__main p {
    font-size: 15px;
    line-height: 25px;
    color: #000;
    margin-top: 10px;
  }
  #package-contest_section .stage__main .stage__main__hdr {
    width: 278px;
    margin: 6px auto 5px;
    border: 3px solid rgb(219, 40, 95);
    color: rgb(219, 40, 95);
    padding: 5px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 27px;
    transform: rotate(1deg);
    -webkit-mask-image: url("../images/W1MMT_grunge.png");
    -webkit-mask-size: 944px 604px;
    mask-image: url("../images/W1MMT_grunge.png");
    mask-size: 944px 604px;
    mix-blend-mode: multiply;
  }
  #package-contest_section .stage__main .stage__main__contestAmt, #package-contest_section .stage__main .stage__main__contestAward {
    color: rgb(219, 40, 95);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
  #package-contest_section .stage__main .stage__main__contestAmt {
    font-size: 40px;
    line-height: 50px;
  }
  #package-contest_section .stage__main .stage__main__handwriting {
    margin-top: 5px;
    display: inline-block;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    color: #1a086a;
    font-size: 18px;
    line-height: 23px;
    position: relative;
  }
  #package-contest_section .stage__main .stage__main__handwriting h6 {
    margin: 0 20px;
    position: relative;
    z-index: 55;
  }
  #package-contest_section .stage__main .stage__main__underlines {
    width: 278px;
    height: 15px;
    margin: 0 auto;
  }
  #package-contest_section .stage__main .stage__main__underlines .underlines {
    display: block;
    width: 278px;
    height: 15px;
    background: transparent url("../images/mobile/W1MMT_Underlines.png") 0px center no-repeat;
  }
  #package-contest_section .stage__main .stage__main__BtnSec .stage__main__Btn {
    display: block;
    width: 232px;
    height: 52px;
    text-align: center;
    cursor: pointer;
    margin: 15px auto 10px;
    border: 1px solid rgb(219, 40, 95);
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 28px;
    line-height: 52px;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px 0px;
    background: rgb(219, 40, 95) none repeat scroll 0% 0%;
    position: relative;
    z-index: 88;
  }
  #package-contest_section .stage__main .stage__main__BtnSec .stage__main__ftrCpy {
    text-align: center;
  }
  #package-order_section {
    display: none;
    background-color: #2caa8e;
    /*fake product section style change for mobile*/
  }
  #package-order_section #package-ob_section {
    min-width: 375px;
    margin: 0 auto;
    overflow: hidden;
  }
  #package-order_section #package-ob_section #OB_DirMsg {
    text-align: center;
  }
  #package-order_section #package-ob_section #OB_DirMsg .presPreferred, #package-order_section #package-ob_section #OB_DirMsg .prefPlus, #package-order_section #package-ob_section #OB_DirMsg .preferred, #package-order_section #package-ob_section #OB_DirMsg .offline, #package-order_section #package-ob_section #OB_DirMsg .prospect, #package-order_section #package-ob_section #OB_DirMsg .lapsed, #package-order_section #package-ob_section #OB_DirMsg .balance {
    display: none;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage1 {
    height: 100vh;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 56px;
    padding-top: 50px;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage1 .presPreferred, #package-order_section #package-ob_section #OB_DirMsg .ob__stage1 .prefPlus {
    font-size: 48px;
    line-height: 56px;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage1 .offline {
    font-size: 52px;
    line-height: 56px;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__top h6 {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
    color: #fff;
    padding-top: 5px;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__top h6 .ob__S2__Underline {
    display: inline-block;
    text-decoration: underline;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__top h6 .ob__underline {
    position: relative;
    color: #fff194;
    font-style: italic;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__top h6 .ob__underline::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -10px;
    width: 168px;
    height: 14px;
    background: transparent url("../images/mobile/W1MMT_OBUnderlines.png") 0 0 no-repeat;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__top h6.prefPlus {
    padding-bottom: 10px;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid {
    background-color: #fff194;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    overflow: hidden;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.77);
    margin: 10px 0px;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper {
    width: 320px;
    margin: 5px auto 0px;
    text-align: left;
    position: relative;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper .ob__stage2__mid__seal {
    background: transparent url("../images/W1MMT_Seal.png") center center no-repeat;
    background-size: contain;
    width: 84px;
    height: 84px;
    display: block;
    position: absolute;
    top: 30px;
    left: 200px;
    overflow: hidden;
    text-indent: -1000px;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper .Current ul {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 5px;
    left: 0px;
    padding: 5px 0;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper .Current ul li {
    color: #2caa8e;
    list-style: disc;
    list-style-position: outside;
    margin: 0px 0 10px 50px;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper .lapsed.Current li, #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper .preferred.Current li, #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper .prospect.Current li, #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper .presPreferred li {
    font-size: 22px;
    line-height: 27px;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper .offline.Current li, #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__mid .ob__stage2__mid__wrapper .balance.Current li {
    font-size: 20px;
    line-height: 28px;
  }
  #package-order_section #package-ob_section #OB_DirMsg .ob__stage2 .ob__stage2__ftr h6 {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    padding-bottom: 20px;
  }
  #package-order_section #package-pkg_section {
    background-color: #fff;
    max-width: 100%;
    min-width: 375px;
  }
  #package-order_section #mpWrap {
    width: 100%;
  }
  #package-order_section #mpWrap div h1 {
    font-size: 20px;
    line-height: 30px;
  }
  #package-order_section #mpWrap div p {
    border-left: 120px solid #aaa;
    font-size: 13px;
  }
  #package-order_section #mpWrap div footer {
    height: 45px;
  }
}/*# sourceMappingURL=package.WTV14.css.map */