/*Win_1MM_Tonight_V14 - Contest_Name(1MM) - V1.0 - Pkg Desktop CSS by VAD - 06/2022*/
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #333;
	background-color: #2caa8e;
}
/*****Package Style Start*******/

// https://fonts.google.com/share?selection.family=Acme%7CMontserrat:ital,wght@0,500;0,600;1,400%7CNunito%20Sans:wght@900%7CRoboto:wght@500%7CShadows%20Into%20Light

// font-family: 'Montserrat', sans-serif;
//Montserrat Weights: 400I|500|600|800;
$MontserratFnt: 'Montserrat', sans-serif;
@mixin MontserratFnt($fntWght){
font-family: $MontserratFnt;
font-weight: $fntWght;
}
//@include MontserratFnt(500);

//Nunito Sans Weights: 900;
$NunitoSansFnt: 'Nunito Sans', sans-serif;
@mixin NunitoSansFnt($fntWght){
 font-family: $NunitoSansFnt;
 font-weight: $fntWght;
}
//@include NunitoSansFnt(900);

//RobotoB Weight: 500;
$RobotoBase: 'Roboto', sans-serif;
@mixin RobotoBase($fntWght){
 font-family: $RobotoBase;
 font-weight: $fntWght;
}
//@include RobotoBase(500);

//ShadowsILFnt: 400;
$ShadowsILFnt: 'Shadows Into Light', cursive;
@mixin ShadowsILFnt($fntWght){
 font-family: $ShadowsILFnt;
 font-weight: $fntWght;
}
//@include ShadowsILFnt(400);

//AcmeBase: 400
$AcmeBase: 'Acme', sans-serif;
@mixin AcmeBase($fntWght){
 font-family: $AcmeBase;
 font-weight: $fntWght;
}
//@include AcmeBase(400);

.mobilePkg{
	#package-contest_section .stage--big{
		width: 298px;
		height: 680px;		
	}
}

#package-contest_section{
	width: 100vw;
	height: 100vh;
	display: none;
	overflow-x: hidden;

	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#db285f+0,db285f+50,221a83+50,221a83+50,221a83+50,221a83+100 */
	background: #db285f; /* Old browsers */
	background: -moz-linear-gradient(left,  #db285f 0%, #db285f 50%, #221a83 50%, #221a83 50%, #221a83 50%, #221a83 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #db285f 0%,#db285f 50%,#221a83 50%,#221a83 50%,#221a83 50%,#221a83 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #db285f 0%,#db285f 50%,#221a83 50%,#221a83 50%,#221a83 50%,#221a83 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db285f', endColorstr='#221a83',GradientType=1 ); /* IE6-9 */

	/*Block*/
	.stage{
		margin: 20px auto;
		background-color:rgb(255, 255, 255);
		box-shadow: rgb(0, 0, 0) 0px 0px 21px;
	}
	
	/*Modifier*/
	.stage--big{
		width: 811px;
		height: 680px;		
		position: relative;
		// top: -800px;
	}



	.stage__clock{
		width: 100%;
		height: 170px;
		color: #fff;
		background-color: #1a086a;
		border: 3px solid #fff;
		box-sizing: border-box;
		overflow: hidden;
		

		h6{
			@include MontserratFnt(400);
			font-size: 17px;
			line-height: 17px;
			padding: 10px 0;
			font-style: italic;
			text-align: center;
			// grid-column-start: 1;
			// grid-column-end: 4; 
		}

		.stage__clock__inner{
			// width: 550px;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: stretch;
			align-content: center;
			justify-content: center;
			opacity: 0;
			// gap: 20px;
			// background-color: rgba(0, 255, 0, 0.3);

			li:nth-child(even) {
				width: 30px;
				// color: #777;
				// margin: 20px 0 0 15px;
				margin-top: 20px;
			}

			li{
				width: 145px;
				// height: 100%;
				// display: block;
				// width: 100%;
				position: relative;
				text-align: center;
				

				.stage__clock__hdr{					
					width: 100%;
					text-align: center;
					position: absolute;
					top: 0;
					left: 0;
				}

				.stage__clock__hdr{
					@include MontserratFnt(500);
					font-size: 18px;
					line-height: 18px;
				}
				.stage__clock__num{
					@include MontserratFnt(600);
					font-size: 110px;
					line-height: 141px;
				}
				.stage__clock__seperator{
					@include MontserratFnt(500);
					height: 100%;
					font-size: 100px;
					line-height: 100px;
				}
			}

		}
	}

	.stage__main{
		text-align: center;

		p{
			font-size: 18px;
			line-height: 25px;
			color: #161616;
			margin-top: 15px
		}

		.stage__main__hdr{
			width: 710px;			
			margin: 13px auto 20px;
			border: 3px solid rgb(219, 40, 95);
			color: rgb(219, 40, 95);
			padding: 10px;
			box-sizing: border-box;
			text-transform: uppercase;

			@include NunitoSansFnt(900);
			font-size:37px;
			line-height: 37px;
			transform: rotate(1deg);

			-webkit-mask-image: url('../images/W1MMT_grunge.png');
			-webkit-mask-size: 944px 604px;
			mask-image: url('../images/W1MMT_grunge.png');
			mask-size: 944px 604px;
			mix-blend-mode: multiply;	
		}

		.stage__main__contestAmt, .stage__main__contestAward{
			color: rgb(219, 40, 95);
			@include MontserratFnt(500);
			font-size:37px;
			line-height: 37px;
			text-transform: uppercase;
		}
		.stage__main__contestAmt{
			font-size:64px;
			line-height: 64px;
		}

		.stage__main__handwriting{
			margin-top: 20px;
			display: inline-block;
			@include ShadowsILFnt(400);
			color: #1a086a;
			font-size:33px;
			line-height:39px;
			position: relative;

			h6{				
				position: relative;
				margin: 0 50px;
				z-index: 55;

				span{
					text-decoration: none;
					background-image: linear-gradient(to left, rgba(134,219,119,0) 50%, yellow 50%);
					background-position: 101% 10px;
					// background-position: 0% 0;
    				background-size: 200% 35px; 
					background-repeat: no-repeat;
					transition: background-position .3s;
				  
					// &:hover {
					//   background-position: 0 10px;
					// }
				}
			}

			// .handwriting_highlight{
			// 	width: 711px;
			// 	// width: 0px;
			// 	// height: 48px;
			// 	// background-image: url('../images/W1MMT_HighlightTop.png');
			// 	position: absolute;
			// 	top: 0;
				
			// 	z-index: 48;
			// }
			// .handwriting_highlight:nth-of-type(1){
			// 	width: 711px;
			// 	// width: 0px;
			// 	height: 48px;
			// 	background-image: url('../images/W1MMT_HighlightTop.png');
			// 	top: 0;
			// 	left: -10px;
			// }
			// .handwriting_highlight:nth-of-type(2){
			// 	width: 644px;
			// 	// width: 0px;
			// 	height: 39px;
			// 	background-image: url('../images/W1MMT_HighlightBot.png');
			// 	top: 45px;
			// 	left: 20px;
			// }
		}

		.stage__main__underlines{
			width: 655px;			
			height: 15px;
			// background-image: url('../images/W1MMT_Underlines.png');
			margin: 0 auto;
			transform: translateY(10px);

			.underlines{
				display: block;
				width: 655px;
				// width: 0px;
				height: 15px;
				background-image: url('../images/W1MMT_Underlines.png');
			}
		}
		
		.stage__main__BtnSec{
			.stage__main__Btn {
				display: block;
				width: 308px;
				height: 70px;
				text-align: center;
				cursor: pointer;
				margin: 15px auto 10px;
				border: 1px solid rgb(219, 40, 95);
				border-radius: 50px;
				font-family: "Roboto", sans-serif;
				font-weight: 500;
				color: white;
				font-size: 37px;
				line-height: 70px;
				text-transform: uppercase;
				box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px 0px;
				background: rgb(219, 40, 95) none repeat scroll 0% 0%;
				position: relative;
				z-index: 88;
			}
			.stage__main__ftrCpy{
				text-align: center;
			}
		}
	}
}

#package-order_section{
	display: none;
	background-color: #2caa8e;

	#package-ob_section{
		min-width: 1230px;
		margin: 0 auto;
	
		#OB_DirMsg{
			text-align: center;

			.balance{
				display: none;
			}

			.ob__stage1{
				@include AcmeBase(400);
				color: #fff;
				text-transform: uppercase;
				font-size: 125px;
				line-height: 125px;
				padding-top: 50px;
				// display: none;

				// .presPreferred{}
				// .prefPlus{}
				// .offline{}
				// .prospect{}
				// .lapsed{}
				// .balance{}
				// .preferred{}
			}

			.ob__stage2{

				.ob__stage2__top{
					h6{
						@include AcmeBase(400);
						font-size: 57px;
						line-height: 63px;
						color: #fff;
						padding-top: 20px;
						
						u{ display: inline-block;}

						.ob__underline{
							position: relative;
							color: #fff194;
							font-style: italic;
						}
						.ob__underline::after{
							content: "";
							position: absolute;
							left: -14px;
							bottom: -11px;
							width: 382px;
							height: 25px;
							background: transparent url('../images/W1MMT_OBUnderlines.png') 0 0 no-repeat;	
						}
					}
					
				}
				.ob__stage2__mid{
					height: 218px;
					background-color: #fff194;
					@include MontserratFnt(800);
					overflow: hidden;
					box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.77);
					margin: 40px 0px 20px;

					.ob__stage2__mid__wrapper{
						// background-color: lime;
						width: 750px;
						margin: 5px auto 0px;
						text-align: left;
						position: relative;

						.ob__stage2__mid__seal{
							background: transparent url('../images/W1MMT_Seal.png') center center no-repeat;						
							width: 166px;
							height: 218px;
							display: block;
							// border: 1px solid red;
							position: absolute;
							top: -5px;
							overflow: hidden;
							text-indent: -1000px;
						}

						.Current{
							ul{
								// background-color: plum;
								width: 720px;
								margin: 0 auto;
								position: relative;
								top: 10px;
								left: 170px;

								li{
									color: #2caa8e;
									list-style:disc;
									list-style-position: inside;
									font-size: 33px;
									line-height: 53px;
									margin: 0px auto 10px;
								}
							}
						}
					}
				}
				.ob__stage2__ftr{				

					h6{
						@include AcmeBase(400);
						font-size: 35px;
						line-height: 42px;
						color: #fff;
						padding-bottom: 20px;
					}
				}
			}
		}
	}
}

#package-pkg_section{
	min-width: 1230px;
	margin: 0 auto;
}

/*****Package Style End*********/
#package-pkg_section{
	display: none;
}
// #multipageWrap{
// 	margin: 0 20px;
// }

.disclaimer{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 750px;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
}

.disclaimer p, .disclaimer a{
	color: #fff;
}

.disclaimer p {
	margin-bottom: 14px;
}

.disclaimer strong {
	/*for NPN*/
	font-size: 12px;
}




.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-9 15:38:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-top-fwd {
	0% {
	  -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
			  transform: translateY(-600px) rotateX(-30deg) scale(0);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0) rotateX(0) scale(1);
			  transform: translateY(0) rotateX(0) scale(1);
	  -webkit-transform-origin: 50% 1400px;
			  transform-origin: 50% 1400px;
	  opacity: 1;
	}
  }
  @keyframes slide-in-elliptic-top-fwd {
	0% {
	  -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
			  transform: translateY(-600px) rotateX(-30deg) scale(0);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0) rotateX(0) scale(1);
			  transform: translateY(0) rotateX(0) scale(1);
	  -webkit-transform-origin: 50% 1400px;
			  transform-origin: 50% 1400px;
	  opacity: 1;
	}
  }
  



  /* Mobile styles */
@media only screen and (max-width: 600px) {
	#package-contest_section{
		min-width: 320px;
		.stage__clock{
			width: 100%;
			height: 110px;
			color: #fff;
			background-color: #1a086a;
			border: 3px solid #fff;
			box-sizing: border-box;
			overflow: hidden;
			

			h6{
				@include MontserratFnt(400);
				font-size: 13px;
				line-height: 13px;
				padding: 5px 0 10px;
				font-style: italic;
				text-align: center;
				// grid-column-start: 1;
				// grid-column-end: 4; 
			}

			.stage__clock__inner{
				// width: 550px;
				margin: 0 auto;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: stretch;
				align-content: center;
				justify-content: center;
				opacity: 0;
				// gap: 20px;
				// background-color: rgba(0, 255, 0, 0.3);

				li:nth-child(even) {
					width: 15px;
					// color: #777;
					// margin: 20px 0 0 15px;
					margin-top: 20px;
				}

				li{
					width: 145px;
					position: relative;
					text-align: center;
					

					.stage__clock__hdr{					
						width: 100%;
						text-align: center;
						position: absolute;
						top: 0;
						left: 0;
					}

					.stage__clock__hdr{
						@include MontserratFnt(500);
						font-size: 11px;
						line-height: 11px;
					}
					.stage__clock__num{
						@include MontserratFnt(600);
						font-size: 60px;
						line-height: 81px;
					}
					.stage__clock__seperator{
						@include MontserratFnt(500);
						height: 100%;
						font-size: 60px;
						line-height: 40px;
					}
				}

			}
		}

		.stage__main{
			text-align: center;
	
			p{
				font-size: 15px;
				line-height: 25px;
				color: #000;
				margin-top: 10px
			}
	
			.stage__main__hdr{
				width: 278px;			
				margin: 6px auto 5px;
				border: 3px solid rgb(219, 40, 95);
				color: rgb(219, 40, 95);
				padding: 5px;
				box-sizing: border-box;
				text-transform: uppercase;
	
				@include NunitoSansFnt(900);
				font-size:25px;
				line-height: 27px;
				transform: rotate(1deg);
	
				-webkit-mask-image: url('../images/W1MMT_grunge.png');
				-webkit-mask-size: 944px 604px;
				mask-image: url('../images/W1MMT_grunge.png');
				mask-size: 944px 604px;
				mix-blend-mode: multiply;	
			}
	
			.stage__main__contestAmt, .stage__main__contestAward{
				color: rgb(219, 40, 95);
				@include MontserratFnt(500);
				font-size:16px;
				line-height: 20px;
				text-transform: uppercase;
			}
			.stage__main__contestAmt{
				font-size:40px;
				line-height: 50px;
			}
	
			.stage__main__handwriting{
				margin-top: 5px;
				display: inline-block;
				@include ShadowsILFnt(400);
				color: #1a086a;
				font-size: 18px;
				line-height: 23px;
				position: relative;
	
				h6{
					margin: 0 20px;
					position: relative;
					z-index: 55;
				}
	
				// .handwriting_highlight{
				// 	width: 278px;
				// 	position: absolute;
				// 	top: 0;
					
				// 	z-index: 48;
				// }
				// .handwriting_highlight{
				// 	width: 298px;
				// 	height: 78px;
				// 	background-image: url('../images/mobile/W1MMT_Highlights.png');
				// 	background-repeat: no-repeat;
				// 	top: 0;
				// 	left: -15px;
				// }
			}
	
			.stage__main__underlines{
				width: 278px;			
				height: 15px;
				// background-image: url('../images/W1MMT_Underlines.png');
				margin: 0 auto;
	
				.underlines{
					display: block;
					width:278px;
					// width: 0px;
					height: 15px;
					background: transparent url('../images/mobile/W1MMT_Underlines.png') 0px center no-repeat;
				}
			}
			
			.stage__main__BtnSec{
				.stage__main__Btn {
					display: block;
					width: 232px;
					height: 52px;
					text-align: center;
					cursor: pointer;
					margin: 15px auto 10px;
					border: 1px solid rgb(219, 40, 95);
					border-radius: 50px;
					font-family: "Roboto", sans-serif;
					font-weight: 500;
					color: white;
					font-size: 28px;
					line-height: 52px;
					text-transform: uppercase;
					box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px 0px;
					background: rgb(219, 40, 95) none repeat scroll 0% 0%;
					position: relative;
					z-index: 88;
				}
				.stage__main__ftrCpy{
					text-align: center;
				}
			}
		}
	}

	#package-order_section{
		display: none;
		background-color: #2caa8e;
	
		#package-ob_section{
			min-width: 375px;
			margin: 0 auto;
			overflow: hidden;
		
			#OB_DirMsg{
				text-align: center;
	
				.presPreferred, .prefPlus, .preferred, .offline, .prospect, .lapsed, .balance{
					display: none;
				}
	
				.ob__stage1{
					height: 100vh;
					@include AcmeBase(400);
					color: #fff;
					text-transform: uppercase;
					font-size: 56px;
					line-height: 56px;
					padding-top: 50px;
					// display: none;
	
					.presPreferred, .prefPlus{
						font-size: 48px;
						line-height: 56px;
					}
					.offline{
						font-size: 52px;
						line-height: 56px;
					}
					// .prospect{}
					// .lapsed{}
					// .balance{}
					// .preferred{}
				}
	
				.ob__stage2{
	
					.ob__stage2__top{
						h6{
							@include AcmeBase(400);
							font-size: 27px;
							line-height: 33px;
							color: #fff;
							padding-top: 5px;
	
							// u{
							// 	display: inline-block;
							// }
							.ob__S2__Underline{
								display: inline-block;
								text-decoration: underline;
							}
	
							.ob__underline{
								position: relative;
								color: #fff194;
								font-style: italic;
							}
							.ob__underline::after{
								content: "";
								position: absolute;
								left: 0px;
								bottom: -10px;
								width: 168px;
								height: 14px;
								background: transparent url('../images/mobile/W1MMT_OBUnderlines.png') 0 0 no-repeat;	
							}
						}
	
						
						h6.prefPlus{
							padding-bottom: 10px;
						}
						
					}
					.ob__stage2__mid{
						background-color: #fff194;
						@include MontserratFnt(800);
						overflow: hidden;
						box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.77);
						margin: 10px 0px;
	
						.ob__stage2__mid__wrapper{
							width: 320px;
							margin: 5px auto 0px;
							text-align: left;
							position: relative;
	
							.ob__stage2__mid__seal{
								background: transparent url('../images/W1MMT_Seal.png') center center no-repeat;						
								background-size: contain;
								width: 84px;
								height: 84px;
								display: block;
								position: absolute;
								top: 30px;
								left: 200px;
								overflow: hidden;
								text-indent: -1000px;
							}
	
							.Current{
								ul{
									width: 100%;
									margin: 0 auto;
									position: relative;
									top: 5px;
									left: 0px;
									padding: 5px 0;
	
									li{
										color: #2caa8e;
										list-style:disc;
										list-style-position: outside;
										margin: 0px 0 10px 50px;
									}
								}
							}
	
							.lapsed.Current li, .preferred.Current li, .prospect.Current li, .presPreferred li{
								font-size: 22px;
								line-height: 27px;
							}
							.offline.Current li, .balance.Current li{
								font-size: 20px;
								line-height: 28px;
							}
						}
					}
					.ob__stage2__ftr{				
	
						h6{
							@include AcmeBase(400);
							font-size: 22px;
							line-height: 30px;
							color: #fff;
							padding-bottom: 20px;
						}
					}
				}
			}
		}

		#package-pkg_section{
			background-color: #fff;
			max-width: 100%;
			min-width: 375px;
		}
		/*fake product section style change for mobile*/
		#mpWrap{
			width: 100%;
	
			div{
				h1{
					font-size: 20px;
					line-height: 30px;
				}
				p{
					border-left: 120px solid #aaa;
					font-size: 13px;
				}
				footer{
					height: 45px;
				}
			} 
		}
	}
}