/*Permanent Placement Alert - Contest_Name(15MM_POAL) - V1.0 - Mobile Pkg by VAD - 01/2024*/

/******Package Specific Style Start******/
#contestWrap{ overflow: hidden;}

#mainWrap{
	width: 320px;
	margin: 0 auto;	
	overflow: hidden;
	background: #fff;
}

#mobileBody p{ padding: 10px 0;}

#deviceWrap1{ display: none; }
/******Package Specific Style Start******/

#package-contest_section{
	width: 320px;
	margin: 0 auto;
	position: relative;
	display: none;
}
#package-contest_section hr{
	position: absolute;
	top: 0;
	width: 100%;
	height: 296px;
	background-color: #0085dc;
	z-index: 55;
	border: 0;
	margin: 0;
}
#package-contest_section p.contestHdr{
	position: relative;
	z-index: 85;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 10px 0;
	color: #fff;
}
#package-contest_section p.contestFtr{
	text-align: center;
	font-size: 15px;
	line-height: 24px;
	padding: 0px 0 20px;
	color: #000;
}

#package-contest_section p.contestFtr .contestFtr_ULine{
	border-bottom: 1px solid #000;
}

#package-contest_section .package-contest_container{
	background-color: #fff;
	overflow: hidden;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 10px 0px;
	position: relative;
	z-index: 85;
}

#package-contest_section .package-contest_container .package-contest_hdr{
	text-align: center;
	padding: 10px 0;
}
#package-contest_section .package-contest_container .package-contest_hdr hr{
	position: absolute;
	top: 136px;
	width: 100%;
	height: 1px;
	background-color: rgba(0, 133, 220, 0.2);
	z-index: 5;
	border: 0;
	margin: 0;
}
#package-contest_section .package-contest_container .package-contest_inner hr{
	position: relative;
	top: 37px;
	width: 100%;
	height: 1px;
	background-color: rgba(0, 133, 220, 0.2);
	z-index: 5;
	border: 0;
	margin: 0;
}
#package-contest_section .package-contest_container .package-contest_hdr p.contestAmt{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 37px;
	line-height: 37px;
	color: #0085dc;
	text-shadow: 0px 5px 2px rgb(177, 215, 238, 1);
}
#package-contest_section .package-contest_container .package-contest_hdr h6{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 26px;
	line-height: 30px;
	text-transform: capitalize;
	color: #000;
}
#package-contest_section .package-contest_container .package-contest_hdr h6:nth-of-type(1){
	text-decoration: underline;
}
#package-contest_section .package-contest_container .package-contest_hdr h6:nth-of-type(2){
	font-size: 18px;
	line-height: 22px;
}

#package-contest_section .package-contest_container #PPA_Btn {
	margin: 10px auto;
	background-color: #0085dc;
	color: #fff;
	font-weight: 700;
	font-size: 41px;
	line-height: 53px;
	text-transform: uppercase;
	width: 296px;
	height: 53px;
	border-radius: 50px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	text-align: center;
	position: relative;
	z-index: 55;
}

.package-contest_hdr, .package-contest_main .package-contest_inner{
	background-color: #ecf6fc;
	position: relative;
	box-sizing: border-box;	
}
.package-contest_main .package-contest_inner{
	padding: 5px 0 10px;
}

.package-contest_main :is(h6,h5){
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.package-contest_main :is(h6){
	color: #514e4e;
	font-size: 16px;
	line-height: 21px;
	padding: 10px 5px;
}
.package-contest_main :is(h5){
	color: #0085dc;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	padding: 10px 0;
}

.package-contest_main ul li .listItemMarker{
	background: transparent url(../images/PPA_Chevron.png) center center no-repeat;
	width: 44px;
	height: 26px;
	background-color: #0085dc;
	border-radius: 50px;
	text-align: center;
	box-shadow: 0px 3px 0px rgb(3, 91, 149, 1);
	color: #fff;
	font-weight: 500;
	font-size: 13px;
	line-height: 26px;

	position: relative;
	left: -10px
}

.package-contest_main ul li .listItemCpy{
	color: #514e4e;
	font-size: 15px;	
	line-height: 21px;	
	
}

.package-contest_main ul li .listItemCpy p{
	position: relative;
	transform-origin: center left;
}
.package-contest_main ul li:first-child .listItemCpy p{
	line-height: 24px;
}

.package-contest_main ul li{
	display: grid;
	grid-template-columns: 50px auto;
	padding: 10px 0px;
	border-bottom: 1px solid rgba(0, 133, 220, 0.2);
}

/* OB section styles */
#package-order_section{
	display: none;
	position: relative;
	background-color: #c5d7e1;
	overflow: auto;
}

#package-ob_section{
	width: 320px;
	margin: 10px auto 20px;
	background-color: #fff;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	box-sizing: border-box;
	border-bottom: 7px solid rgba(118, 92, 21, 0.32);
}

.ob_dir_Msg .ob_hdr{
	background-color: #00fff6;
	text-align: center;
	border-bottom: 8px solid #000;
}
.ob_dir_Msg .ob_hdr h6{
	font-size: 27px;
	line-height: 27px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 0 0;
}
.ob_dir_Msg .ob_hdr h5{
	font-size: 19px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px 0;
}
.ob_dir_Msg :is(.presPreferred) .ob_hdr h5{
	font-size: 18px;
	line-height: 24px;
}

.ob_dir_Msg :is(.ob_main, .ob_ftr){
	padding: 0 10px;
}

.ob_dir_Msg :is(.ob_main){
	position: relative;
}
.ob_dir_Msg .ob_arrow{
	position: absolute;
	top: 0;
	left: 20px;
	width: 8px;
	height: 100%;
	background-color: #000;
	display: none;
}

/* OB arrow styles Start - Arrow grows/shrinks to match the position of the footer copy */
.ob_dir_Msg .ob_ftr{
	position: relative;
}
.ob_dir_Msg .ob_ftr .ob_pointer{
	position: absolute;
	top: 15px;
	left: 0px;
	width: 25px;
	height: 23px;
	background: transparent url(../images/PPA_OB_FtrArrow.png) right bottom no-repeat;
}
/* OB arrow styles End*/

.ob_dir_Msg .ob_main h4{
	padding: 10px 0;
	font-size: 19px;
	line-height: 26px;
	text-align: center;
}
.ob_dir_Msg  :is(.prefPlus, .presPreferred) .ob_main h4{
	font-size: 18px;
	line-height: 26px;
}

.ob_dir_Msg .ob_main ul li{
	display: grid;
	grid-template-columns: 65px auto;
	padding: 5px 0px;
	position: relative;
	left: -19px;
}

.ob_dir_Msg .ob_main .ob_left_arrow{
	width: 30px;
	height: 100%;
	background: transparent url(../images/PPA_OB_Arrow.png) center center no-repeat;
	background-size: contain;
	position: relative;
	z-index: 50;
  }

.ob_dir_Msg .ob_main .ob_benefit{
	width: 274px;
	background-color: #000;
	color: #fff;
	padding: 12px 16px 12px 35px;
	position: relative;
	left: -61px;
	z-index: 25;
}

.ob_dir_Msg :is(.balance, .lapsed, .preferred, .prefPlus, .presPreferred, .decelPresPreferred) .ob_main li .ob_benefit{
	font-size: 24px;
	line-height: 30px;
}

.ob_dir_Msg .prospect .ob_main li .ob_benefit{
	font-size: 26px;
	line-height: 26px;
}
.ob_dir_Msg :is(.prospect, .lapsed) .ob_main li:last-of-type .ob_benefit{
	font-size: 22px;
	line-height: 22px;
}


.ob_dir_Msg .ob_main .ob_benefit .ob_bene_highlight{
	font-weight: bold;
	color: #00fff6;
	text-transform: uppercase;
}

	.ob_dir_Msg :is(.offline) .ob_main li .ob_benefit{
		font-size: 24px;
		line-height: 24px;
	}
	.ob_dir_Msg :is(.offline) .ob_main li:last-child .ob_left_arrow{
		height: 60px;
	} 
	.ob_dir_Msg :is(.offline) .ob_main li:last-child .ob_benefit{
		font-size: 26px;
		line-height: 40px;
		padding-top: 10px;
	}

.ob_dir_Msg .ob_ftr h3{
	padding: 10px 0 20px 25px;
	font-weight: bold;
	font-size: 19px;
	line-height: 30px;
}

.ob_dir_Msg .balance, 
.ob_dir_Msg .prospect, 
.ob_dir_Msg .presPreferred, 
.ob_dir_Msg .prefPlus,
.ob_dir_Msg .preferred,
.ob_dir_Msg .offline,
.ob_dir_Msg .lapsed, 
.ob_dir_Msg .decelPresPreferred{
	display: none;
  }

/******Default Package Style Start******/
body{	
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #000;
	font-size: 100%;
}

.disclaimer {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.6875em;
	max-width: 320px;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
}

.disclaimer p, .disclaimer a{
	color: #000;
}

.disclaimer p {
	margin-bottom: 14px;
}

.isUppercase {
	text-transform: uppercase;
}
/******Default Package Style End******/