/*Final Attempt V2 - Contest_Name(1MM) - V1.0 - Pkg Desktop CSS by VAD - ??/2019*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  color: #333;
  background-color: #ad1d1d;
}

/*****Package Style Start*******/
#package-contest_section {
  width: 960px;
  min-height: 722px;
  margin: 20px auto;
  padding-bottom: 20px;
  overflow: hidden;
  background: #fff url("../images/DOD_V4_Contest_Bkgrnd.png") center center repeat;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
#package-contest_section .contest_Sec_Hdr {
  width: 759px;
  height: 120px;
  color: #e22626;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  left: 135px;
  top: 15px;
}
#package-contest_section .contest_Sec_Hdr .hdrBorder {
  width: 619px;
  height: 120px;
  border: 7px solid #e22626;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-mask-image: url("../images/DOD_V4_grunge.png");
  -webkit-mask-size: 944px 604px;
  mask-image: url("../images/DOD_V4_grunge.png");
  mask-size: 944px 604px;
  mix-blend-mode: multiply;
}
#package-contest_section .contest_Sec_Hdr .hdrArrow {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 14px solid #e22626;
  border-bottom: 13px solid transparent;
  position: absolute;
  right: 124px;
  top: 46px;
  -webkit-mask-image: url("../images/DOD_V4_grunge.png");
  -webkit-mask-size: 944px 604px;
  mask-image: url("../images/DOD_V4_grunge.png");
  mask-size: 944px 604px;
  mix-blend-mode: multiply;
}
#package-contest_section .contest_Sec_Hdr .hdrClock {
  width: 116px;
  height: 120px;
  background: transparent url("../images/DOD_V4_Clock_img.png") center center no-repeat;
  position: absolute;
  right: 0px;
  top: 0px;
}
#package-contest_section .contest_Sec_Hdr h6 {
  width: 619px;
  text-align: center;
  text-transform: uppercase;
}
#package-contest_section .contest_Sec_Hdr h6:nth-of-type(1) {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
  padding-top: 18px;
}
#package-contest_section .contest_Sec_Hdr h6:nth-of-type(2) {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
}
#package-contest_section .contest_Sec_Hdr_mid {
  width: 891px;
  height: 51px;
  background: transparent url("../images/DOD_V4_hdr_midBkgrnd.png") center center no-repeat;
  margin: 25px auto 0px;
  text-align: center;
}
#package-contest_section .contest_Sec_Hdr_mid h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  line-height: 51px;
  font-size: 29px;
  color: rgb(0, 0, 0);
}
#package-contest_section .contest_Sec_Hdr_mid h6 span {
  text-transform: uppercase;
}
#package-contest_section .contest_Sec_Contests {
  display: flex;
  width: 400%;
}
#package-contest_section .contest_Sec_Contests .contest {
  width: 704px;
  text-align: center;
  position: relative;
}
#package-contest_section .contest_Sec_Contests .contest .conStamp {
  filter: grayscale(1);
  opacity: 1;
}
#package-contest_section .contest_Sec_Contests .contest h6.conHdr {
  opacity: 0;
}
#package-contest_section .contest_Sec_Contests .contest .conCrossout {
  width: 397px;
  margin: -25px auto 0;
  position: relative;
}
#package-contest_section .contest_Sec_Contests .contest .conCrossout h6::before, #package-contest_section .contest_Sec_Contests .contest .conCrossout h6::after {
  content: "";
  width: 0px;
  height: 7px;
  background-color: #ad1d1d;
  opacity: 0.8;
  position: absolute;
  top: 0px;
}
#package-contest_section .contest_Sec_Contests .contest .conCrossout h6::before {
  left: 0;
  transform-origin: top left;
  transform: rotate(4deg);
}
#package-contest_section .contest_Sec_Contests .contest .conCrossout h6::after {
  right: 0;
  transform-origin: top right;
  transform: rotate(-4deg);
}
#package-contest_section .contest_Sec_Contests .contest .conCrossout h6 {
  color: #828282;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) {
  height: 224px;
  background: transparent url("../images/DOD_V4_S1Border.png") center center no-repeat;
  display: block;
  margin: 40px auto 30px;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) h6 {
  margin: 0 auto;
  font-size: 36px;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #e22626;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) h6.conHdr {
  margin-top: -36px;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) h5 {
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #000;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) h4, #package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) h3 {
  font-size: 26px;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000;
  padding: 0px 0px 10px;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) h3 {
  color: #e22626;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) .conStamp {
  width: 224px;
  height: 61px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  top: -31px;
  transform: rotate(-2deg);
  filter: grayscale(1);
  opacity: 1;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) .conStamp .stampBorder {
  width: 224px;
  height: 61px;
  border: 8px solid #e22626;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-mask-image: url("../images/DOD_V4_grunge.png");
  -webkit-mask-size: 944px 604px;
  mask-image: url("../images/DOD_V4_grunge.png");
  mask-size: 944px 604px;
  mix-blend-mode: multiply;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) .conStamp h6 {
  font-size: 30px;
  line-height: 61px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #e22626;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) {
  height: 224px;
  background: transparent url("../images/DOD_V4_S2Border.png") center center no-repeat;
  margin: 40px auto 30px;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h6 {
  margin: 0 auto;
  font-size: 36px;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #e22626;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h6.conHdr {
  margin-top: -36px;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h5 {
  font-size: 60px;
  line-height: 65px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #000;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h4, #package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h3 {
  font-size: 26px;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000;
  padding: 0px 0px 10px;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h3 {
  color: #e22626;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) .conStamp {
  width: 224px;
  height: 61px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  top: -31px;
  transform: rotate(-2deg);
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) .conStamp .stampBorder {
  width: 224px;
  height: 61px;
  border: 8px solid #e22626;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-mask-image: url("../images/DOD_V4_grunge.png");
  -webkit-mask-size: 944px 604px;
  mask-image: url("../images/DOD_V4_grunge.png");
  mask-size: 944px 604px;
  mix-blend-mode: multiply;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) .conStamp h6 {
  font-size: 30px;
  line-height: 61px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #e22626;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) {
  height: 224px;
  background: transparent url("../images/DOD_V4_S2Border.png") center center no-repeat;
  margin: 40px auto 30px;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h6 {
  margin: 0 auto;
  font-size: 36px;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #e22626;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h6.conHdr {
  margin-top: -36px;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h5 {
  font-size: 50px;
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #000;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h4 {
  padding-top: 4px;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h5:nth-of-type(3) {
  font-size: 28px;
  line-height: 32px;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h4, #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h3 {
  font-size: 26px;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h3 {
  color: #e22626;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) .conStamp {
  width: 224px;
  height: 61px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  top: -31px;
  transform: rotate(-2deg);
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) .conStamp .stampBorder {
  width: 224px;
  height: 61px;
  border: 8px solid #e22626;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-mask-image: url("../images/DOD_V4_grunge.png");
  -webkit-mask-size: 944px 604px;
  mask-image: url("../images/DOD_V4_grunge.png");
  mask-size: 944px 604px;
  mix-blend-mode: multiply;
}
#package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) .conStamp h6 {
  font-size: 30px;
  line-height: 61px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #e22626;
}
#package-contest_section .contest_Sec_Contests .summary {
  position: relative;
  width: 960px;
}
#package-contest_section .contest_Sec_Contests .summary .sumContest {
  display: flex;
  width: 940px;
  position: relative;
  margin: 10px auto;
  border: 3px solid #000;
  border-radius: 10px;
  background: transparent url("../images/DOD_V4_Sum_Bkgrnd.png") center center no-repeat;
  overflow: hidden;
}
#package-contest_section .contest_Sec_Contests .summary .sumContest .cornerCut {
  width: 240px;
  height: 88px;
  text-align: center;
  position: relative;
}
#package-contest_section .contest_Sec_Contests .summary .sumContest .cornerCut h6 {
  width: 172px;
  height: 30px;
  font-size: 26px;
  line-height: 26px;
  margin: 8px auto 15px;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #e22626;
  position: relative;
  padding: 2px 3px;
  z-index: 50;
  transform: rotate(-2deg);
}
#package-contest_section .contest_Sec_Contests .summary .sumContest .cornerCut h5 {
  display: inline;
  background-color: #e22626;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
  position: relative;
  z-index: 50;
}
#package-contest_section .contest_Sec_Contests .summary .sumContest .cornerCut .cutBkgrnd {
  width: 190px;
  height: 88px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  background: #e22626;
  -webkit-mask-image: url("../images/DOD_V4_grunge.png");
  -webkit-mask-size: 944px 604px;
  mask-image: url("../images/DOD_V4_grunge.png");
  mask-size: 944px 604px;
  mix-blend-mode: multiply;
}
#package-contest_section .contest_Sec_Contests .summary .sumContest .summaryContest {
  width: 100%;
  text-align: center;
  position: relative;
}
#package-contest_section .contest_Sec_Contests .summary .sumContest .summaryContest h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: rgb(0, 0, 0);
}
#package-contest_section .contest_Sec_Contests .summary .sumContest .summaryContest h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 0 20px;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 26px;
  line-height: 26px;
}
#package-contest_section .contest_Sec_Contests .summary .sumContest:nth-of-type(1) .summaryContest h6 {
  font-size: 46px;
  text-transform: uppercase;
}
#package-contest_section .contest_Sec_Contests .summary .sumContest:nth-of-type(1) .summaryContest h5 span.explanation {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(226, 38, 38);
  padding: 5px 10px;
  border-radius: 10px 0 0 0;
}
#package-contest_section .contest_Sec_Contests .summary .sumContest:nth-of-type(2) .summaryContest h6 {
  font-size: 43px;
}
#package-contest_section .contest_Sec_Contests .summary .sumContest:nth-of-type(3) .summaryContest h6 {
  font-size: 45px;
}
#package-contest_section .contest_Sec_Contests .summary .sumContest:nth-of-type(3) .summaryContest h5 span.explanation {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 10px;
}
#package-contest_section .sumButtonSection {
  margin-top: 10px;
}
#package-contest_section .sumButtonSection h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 20px 45px 0;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 21px;
  line-height: 27px;
}
#package-contest_section .sumButtonSection .package-ConBtn {
  display: block;
  width: 485px;
  height: 101px;
  text-align: center;
  cursor: pointer;
  z-index: 50;
  margin: 0px auto;
  border: 1px solid #cf2323;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  /* // font-weight: bold; */
  font-size: 47px;
  line-height: 101px;
  text-transform: uppercase;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cf2323+0,7f1616+100 */
  background: #cf2323; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cf2323 0%, #7f1616 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#cf2323", endColorstr="#7f1616",GradientType=0 ); /* IE6-9 */
}

/*****Package Style End*********/
/****OB Styles start****/
#package-order_section {
  display: none;
}
#package-order_section #package-ob_section {
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+73 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 73%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#00000000",GradientType=0 ); /* IE6-9 */
}
#package-order_section #package-ob_section .ob_inner {
  width: 960px;
  min-height: 855px;
  margin: 0 auto;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_hdr {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 50;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_hdr h6 {
  color: rgb(255, 216, 173);
  font-size: 59px;
  line-height: 59px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_hdr h5 {
  background: transparent url("../images/DOD_V4_OB_Hdr.png") center center no-repeat;
  color: rgb(255, 255, 255);
  font-size: 72px;
  line-height: 123px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: italic;
  margin-top: -25px;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main {
  background: transparent url("../images/DOD_V4_OB_Main_Bkgrnd.png") 0 0 no-repeat;
  width: 960px;
  min-height: 708px;
  position: relative;
  z-index: 45;
  margin: -10px auto 0;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  -webkit-clip-path: inset(-25px -25px 0px -25px);
          clip-path: inset(-25px -25px 0px -25px);
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr {
  background: transparent url("../images/DOD_V4_OB_rewardBanner.png") 0 0 no-repeat;
  width: 980px;
  height: 200px;
  margin-left: -10px;
  position: relative;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr .hdrHiddenContent {
  text-align: center;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr h6 {
  overflow: hidden;
  text-indent: -9999px;
  background: transparent url("../images/DOD_V4_OB_Logo.png") 0 0 no-repeat;
  width: 316px;
  height: 257px;
  position: absolute;
  top: -27px;
  left: -10px;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr .ob_inner_main_hdr_copy {
  overflow: hidden;
  width: 674px;
  height: 142px;
  position: absolute;
  top: 36px;
  right: 23px;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr .ob_inner_main_hdr_copy p {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 32px;
  line-height: 33px;
  padding: 0 10px 6px;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr .ob_inner_main_hdr_copy h5 {
  width: 674px;
  height: 40px;
  background: transparent url("../images/DOD_V4_OB_Copy.png") center -70px no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr .ob_inner_main_hdr_copy h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: rgb(210, 40, 32);
  font-size: 30px;
  line-height: 35px;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_rewards {
  display: flex;
  justify-content: center;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_rewards li {
  background: transparent url("../images/DOD_V4_OB_Rewards.png") 0 0 no-repeat;
  width: 316px;
  height: 269px;
  overflow: hidden;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_rewards li span.ob_reward {
  opacity: 0;
  display: none;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_rewards li:nth-of-type(2) {
  background-position: -316px 0;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_rewards li:nth-of-type(3) {
  background-position: -632px 0;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_rewards li:nth-of-type(4).prospects {
  display: none;
  background-position: -956px 0;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_dir_Msg {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 20px;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_dir_Msg h6 {
  padding: 10px 0px;
  font-size: 21px;
  line-height: 27px;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_dir_Msg h6.Current {
  width: 764px;
  margin: 25px auto 10px;
  background-color: #fff;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_dir_Msg h5 {
  font-size: 15px;
  line-height: 20px;
}
#package-order_section #package-ob_section .ob_inner .ob_inner_dir_Msg h5:nth-of-type(2) {
  padding-top: 20px;
}
#package-order_section #package-pkg_section {
  width: 960px;
  margin: 0 auto;
  background: rgb(243, 244, 246) url("../images/DOD_V4_productBkgrnd.png") center center repeat-y;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  -webkit-clip-path: inset(0px -25px 0px -25px);
          clip-path: inset(0px -25px 0px -25px);
}

.ob_inner_dir_Msg .presPreferred, .ob_inner_dir_Msg .prefPlus, .ob_inner_dir_Msg .preferred, .ob_inner_dir_Msg .offline, .ob_inner_dir_Msg .prospect, .ob_inner_dir_Msg .lapsed, .ob_inner_dir_Msg .balance {
  display: none;
}

/****OB Styles end****/
.disclaimer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  width: 750px;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.disclaimer p, .disclaimer a {
  color: #000;
}

.disclaimer p {
  margin-bottom: 14px;
}

.disclaimer strong {
  /*for NPN*/
  font-size: 12px;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
  #package-contest_section {
    width: 320px;
    min-height: 600px;
    margin: 20px auto;
    padding-bottom: 20px;
    overflow: hidden;
    background: #fff url("../images/DOD_V4_Contest_Bkgrnd.png") 0 0 no-repeat;
  }
  #package-contest_section .contest_Sec_Hdr {
    width: 310px;
    height: 70px;
    color: #e22626;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    left: 5px;
    top: 5px;
  }
  #package-contest_section .contest_Sec_Hdr .hdrBorder {
    width: 310px;
    height: 65px;
    border: 4.5px solid #e22626;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-image: url("../images/DOD_V4_grunge.png");
    -webkit-mask-size: 944px 604px;
    mask-image: url("../images/DOD_V4_grunge.png");
    mask-size: 944px 604px;
    mix-blend-mode: multiply;
  }
  #package-contest_section .contest_Sec_Hdr .hdrArrow {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 7px solid #e22626;
    position: absolute;
    right: 25px;
    top: 65px;
    -webkit-mask-image: url("../images/DOD_V4_grunge.png");
    -webkit-mask-size: 944px 604px;
    mask-image: url("../images/DOD_V4_grunge.png");
    mask-size: 944px 604px;
    mix-blend-mode: multiply;
  }
  #package-contest_section .contest_Sec_Hdr .hdrClock {
    width: 58px;
    height: 60px;
    background: transparent url("../images/DOD_V4_Clock_img.png") center center no-repeat;
    background-size: contain;
    position: absolute;
    right: 5px;
    top: 87px;
  }
  #package-contest_section .contest_Sec_Hdr h6 {
    width: 310px;
    text-align: center;
    text-transform: uppercase;
  }
  #package-contest_section .contest_Sec_Hdr h6:nth-of-type(1) {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 26px;
    padding-top: 10px;
  }
  #package-contest_section .contest_Sec_Hdr h6:nth-of-type(2) {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
  }
  #package-contest_section .contest_Sec_Hdr_mid {
    width: 320px;
    height: 85px;
    background: transparent url("../images/DOD_V4_hdr_midBkgrnd-Mob.png") center center no-repeat;
    background-size: contain;
    margin: 10px auto 0px;
    text-align: center;
    overflow: hidden;
  }
  #package-contest_section .contest_Sec_Hdr_mid h6 {
    width: 240px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    line-height: 20px;
    font-size: 18px;
    margin-top: 11px;
    color: rgb(0, 0, 0);
  }
  #package-contest_section .contest_Sec_Hdr_mid h6 span {
    text-transform: uppercase;
  }
  #package-contest_section .contest_Sec_Contests {
    display: flex;
    width: 400%;
  }
  #package-contest_section .contest_Sec_Contests .contest {
    width: 320px;
    text-align: center;
    position: relative;
  }
  #package-contest_section .contest_Sec_Contests .contest .conStamp {
    filter: grayscale(1);
    opacity: 1;
  }
  #package-contest_section .contest_Sec_Contests .contest h6.conHdr {
    opacity: 0;
  }
  #package-contest_section .contest_Sec_Contests .contest .conCrossout {
    width: 320px;
    margin: 6px auto 0;
    position: relative;
  }
  #package-contest_section .contest_Sec_Contests .contest .conCrossout h6::before, #package-contest_section .contest_Sec_Contests .contest .conCrossout h6::after {
    content: "";
    width: 0px;
    height: 4px;
    background-color: #ad1d1d;
    opacity: 0.8;
    position: absolute;
    top: 0px;
  }
  #package-contest_section .contest_Sec_Contests .contest .conCrossout h6::before {
    left: 50px;
    transform-origin: top left;
    transform: rotate(4deg);
  }
  #package-contest_section .contest_Sec_Contests .contest .conCrossout h6::after {
    right: 50px;
    transform-origin: top right;
    transform: rotate(-4deg);
  }
  #package-contest_section .contest_Sec_Contests .contest .conCrossout h6 {
    color: #828282;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) {
    height: 175px;
    background: transparent url("../images/DOD_V4_S1Border_Mob.png") center center no-repeat;
    background-size: contain;
    display: block;
    margin: 10px auto 30px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) h6 {
    margin: 0 auto;
    font-size: 21px;
    line-height: 21px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #e22626;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) h6.conHdr {
    margin-top: -21px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) h5 {
    font-size: 38px;
    line-height: 38px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #000;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) h5:nth-of-type(2) {
    font-size: 33px;
    line-height: 33px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) h4, #package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) h3 {
    font-size: 17px;
    line-height: 17px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #000;
    padding: 0px 0px 5px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) h3 {
    color: #e22626;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) .conStamp {
    width: 156px;
    height: 41px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    top: 2px;
    transform: rotate(-2deg);
    filter: grayscale(1);
    opacity: 1;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) .conStamp .stampBorder {
    width: 156px;
    height: 41px;
    border: 3px solid #e22626;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-image: url("../images/DOD_V4_grunge.png");
    -webkit-mask-size: 944px 604px;
    mask-image: url("../images/DOD_V4_grunge.png");
    mask-size: 944px 604px;
    mix-blend-mode: multiply;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(1) .conStamp h6 {
    font-size: 21px;
    line-height: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #e22626;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) {
    height: 175px;
    background: transparent url("../images/DOD_V4_S2Border_Mob.png") center center no-repeat;
    background-size: contain;
    margin: 10px auto 30px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h6 {
    margin: 0 auto;
    font-size: 21px;
    line-height: 21px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #e22626;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h6.conHdr {
    margin-top: -21px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h5 {
    font-size: 42px;
    line-height: 42px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #000;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h5:nth-of-type(1) {
    margin-top: 2px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h5:nth-of-type(2) {
    font-size: 29px;
    line-height: 40px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h4, #package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h3 {
    font-size: 17px;
    line-height: 28px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #000;
    padding: 0px 0px 10px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) h3 {
    color: #e22626;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) .conStamp {
    width: 156px;
    height: 41px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    top: 2px;
    transform: rotate(-2deg);
    filter: grayscale(1);
    opacity: 1;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) .conStamp .stampBorder {
    width: 156px;
    height: 41px;
    border: 3px solid #e22626;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-image: url("../images/DOD_V4_grunge.png");
    -webkit-mask-size: 944px 604px;
    mask-image: url("../images/DOD_V4_grunge.png");
    mask-size: 944px 604px;
    mix-blend-mode: multiply;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(2) .conStamp h6 {
    font-size: 21px;
    line-height: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #e22626;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) {
    height: 175px;
    background: transparent url("../images/DOD_V4_S2Border_Mob.png") center center no-repeat;
    background-size: contain;
    margin: 10px auto 30px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h6 {
    margin: 0 auto;
    font-size: 21px;
    line-height: 21px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #e22626;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h6.conHdr {
    margin-top: -21px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h5 {
    font-size: 30px;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #000;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h4 {
    padding-top: 4px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h5:nth-of-type(1) {
    padding-top: 5px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h5:nth-of-type(3) {
    font-size: 14px;
    line-height: 20px;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h4, #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h3 {
    font-size: 17px;
    line-height: 17px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #000;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) h3 {
    color: #e22626;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) .conStamp {
    width: 156px;
    height: 41px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    top: 2px;
    transform: rotate(-2deg);
    filter: grayscale(1);
    opacity: 1;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) .conStamp .stampBorder {
    width: 156px;
    height: 41px;
    border: 3px solid #e22626;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-image: url("../images/DOD_V4_grunge.png");
    -webkit-mask-size: 944px 604px;
    mask-image: url("../images/DOD_V4_grunge.png");
    mask-size: 944px 604px;
    mix-blend-mode: multiply;
  }
  #package-contest_section .contest_Sec_Contests .contest:nth-of-type(3) .conStamp h6 {
    font-size: 21px;
    line-height: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #e22626;
  }
  #package-contest_section .contest_Sec_Contests .summary {
    position: relative;
    width: 320px;
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest {
    display: flex;
    width: 310px;
    position: relative;
    margin: 5px auto;
    border: 2px solid #000;
    background: transparent url("../images/DOD_V4_Sum_Bkgrnd_Mob.png") center right no-repeat;
    background-size: contain;
    overflow: hidden;
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest .cornerCut {
    width: 150px;
    height: 75px;
    text-align: center;
    position: relative;
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest .cornerCut h6 {
    width: 85px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    margin: 15px auto 4px;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #e22626;
    position: relative;
    padding: 2px 3px;
    z-index: 50;
    transform: rotate(-2deg);
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest .cornerCut h5 {
    display: inline;
    background-color: #e22626;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #fff;
    position: relative;
    z-index: 50;
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest .cornerCut h5:nth-of-type(2) {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 12px;
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest .cornerCut .cutBkgrnd {
    width: 100px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
    background: #e22626;
    -webkit-mask-image: url("../images/DOD_V4_grunge.png");
    -webkit-mask-size: 682px 582px;
    mask-image: url("../images/DOD_V4_grunge.png");
    mask-size: 682px 582px;
    mix-blend-mode: multiply;
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest .summaryContest {
    width: 100%;
    position: relative;
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest .summaryContest h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: rgb(0, 0, 0);
    padding: 5px 5px 0px;
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest .summaryContest h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding: 0 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 18px;
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest:nth-of-type(1) .summaryContest h6 {
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest:nth-of-type(1) .summaryContest h5 span.explanation {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(226, 38, 38);
    padding: 2px 10px;
    border-radius: 10px 0 0 0;
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest:nth-of-type(2) .summaryContest h6 {
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest:nth-of-type(3) .summaryContest h6 {
    font-size: 18px;
    line-height: 18px;
  }
  #package-contest_section .contest_Sec_Contests .summary .sumContest:nth-of-type(3) .summaryContest h5 span.explanation {
    font-size: 10px;
    line-height: 10px;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    position: absolute;
    left: 0px;
    bottom: 3px;
    padding: 0;
  }
  #package-contest_section .sumButtonSection {
    margin-top: 10px;
  }
  #package-contest_section .sumButtonSection h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: 10px 20px 0;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }
  #package-contest_section .sumButtonSection .package-ConBtn {
    display: block;
    width: 188px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    z-index: 50;
    margin: 0px auto;
    border: 1px solid #cf2323;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #fff;
    /* // font-weight: bold; */
    font-size: 20px;
    line-height: 45px;
    text-transform: uppercase;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cf2323+0,7f1616+100 */
    background: #cf2323; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cf2323 0%, #7f1616 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#cf2323", endColorstr="#7f1616",GradientType=0 ); /* IE6-9 */
  }
  #package-order_section {
    display: none;
  }
  #package-order_section #package-ob_section {
    overflow: hidden;
    width: 320px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
  }
  #package-order_section #package-ob_section .ob_inner {
    width: 320px;
    min-height: 855px;
    margin: 0 auto;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_hdr {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    position: relative;
    z-index: 50;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_hdr h6 {
    color: rgb(255, 216, 173);
    font-size: 25px;
    line-height: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_hdr h5 {
    background: transparent url("../images/DOD_V4_OB_Hdr.png") center center no-repeat;
    background-size: contain;
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: italic;
    margin-top: -5px;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main {
    background: #f2f3f5 url("../images/DOD_V4_OB_Main_Bkgrnd_Mob.png") 0 0 no-repeat;
    background-size: contain;
    width: 320px;
    min-height: 708px;
    position: relative;
    overflow: hidden;
    z-index: 45;
    margin: -5px auto 0;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr {
    background: transparent url("../images/DOD_V4_OB_rewardBanner_Mob.png") 0 0 no-repeat;
    background-size: contain;
    width: 320px;
    height: 160px;
    margin-left: 0;
    position: relative;
    top: 15px;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr .hdrHiddenContent {
    text-align: center;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr h6 {
    overflow: hidden;
    text-indent: -9999px;
    background: transparent url("../images/DOD_V4_OB_Logo_Mob.png") center center no-repeat;
    background-size: contain;
    width: 320px;
    height: 88px;
    position: absolute;
    top: -13px;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr .ob_inner_main_hdr_copy {
    overflow: hidden;
    width: 320px;
    padding-top: 64px;
    position: relative;
    top: 0;
    right: 0;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr .ob_inner_main_hdr_copy p {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 18px;
    padding: 0 10px 6px;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr .ob_inner_main_hdr_copy h5 {
    width: 320px;
    height: 16px;
    background: transparent url("../images/DOD_V4_OB_Copy_Mob.png") center center no-repeat;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_hdr .ob_inner_main_hdr_copy h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: rgb(210, 40, 32);
    font-size: 14px;
    line-height: 21px;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_rewards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_rewards li {
    background: transparent url("../images/DOD_V4_OB_Rewards_Mob.png") 0 0 no-repeat;
    background-size: 100%;
    width: 317px;
    height: 141px;
    overflow: hidden;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_rewards li .ob_reward {
    display: none;
    text-indent: -100000px;
    position: relative;
    left: -10000000px;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_rewards li:nth-of-type(2) {
    background-position: 0 -143px;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_rewards li:nth-of-type(3) {
    background-position: 0 -286px;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_main .ob_inner_main_rewards li:nth-of-type(4).prospects {
    display: none;
    background-position: 0 -429px;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_dir_Msg {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_dir_Msg h6 {
    padding: 10px;
    font-size: 17px;
    line-height: 22px;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_dir_Msg h6.Current {
    width: 300px;
  }
  #package-order_section #package-ob_section .ob_inner .ob_inner_dir_Msg h5 {
    font-size: 12px;
    line-height: 15px;
    padding: 10px;
  }
  #package-order_section #package-pkg_section {
    width: 320px;
    margin: 0 auto;
    background-color: rgb(243, 244, 246);
    /*fake product section style change for mobile*/
  }
  #package-order_section #package-pkg_section #mpWrap {
    width: 320px;
  }
  #package-order_section #package-pkg_section #mpWrap div h1 {
    font-size: 20px;
    line-height: 30px;
  }
  #package-order_section #package-pkg_section #mpWrap div p {
    border-left: 120px solid #aaa;
    font-size: 13px;
  }
  #package-order_section #package-pkg_section #mpWrap div footer {
    height: 45px;
  }
  .ob_inner_dir_Msg .presPreferred, .ob_inner_dir_Msg .prefPlus, .ob_inner_dir_Msg .preferred, .ob_inner_dir_Msg .offline, .ob_inner_dir_Msg .prospect, .ob_inner_dir_Msg .lapsed, .ob_inner_dir_Msg .balance {
    display: none;
  }
  .disclaimer {
    font-size: 0.6875em;
    max-width: 320px;
  }
  .disclaimer p {
    margin-bottom: 14px;
  }
  .isUppercase {
    text-transform: uppercase;
  }
}/*# sourceMappingURL=package.DODV4.css.map */